version: "3.9"

services:
  bot:
    build: .
    container_name: bot_app

    command: python bot.py

    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./data:/app/data

    mem_limit: 512m
    memswap_limit: 512m
    cpus: 1.0
    pids_limit: 100

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
